<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME 🏠</title>

    <style> 
        body {
        background-color: linen;
        }
        h1{
            font-size: 40px;
            display: flex;
            justify-content: center;
            background-color:rgb(246, 169, 114);
        }
        p {
            color: rgb(0, 0, 0);
            font-size: 25px;
            display: flex;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color: blue">---  This is home page  ---</This></h1>
        <p>  Hello {{name}} .</p1>
        <p ><a  href="http://127.0.0.1:8000/views/">> go to view page.</a></p>
        <p ><a  href="http://127.0.0.1:8000/views/json">> go to json page.</a></p>
    </div>
</body>
</html>